body {
    font-family: 'Roboto Slab', serif;
    background-color: #f0f0f0;
}

.card {
    margin-bottom: 20px;
    padding: 10px;
}

.card-title {
    color: #00695c; /* teal darken-2 color similar to navbar */
}

.container {
    margin-top: 20px;
    margin-bottom: 40px;
}
